<!-- <header class="d-flex justify-content-center align-items-center p-2" style=" width: 100%;">

    <div class="logo">
        <img src="logo.png" alt="Logo" class="img-fluid" style="max-width: 150px;">
    </div>

    <nav class="nav">
        <ul class="list-unstyled d-flex justify-content-center align-items-center p-0 m-0 gap-3">
            <li><a href="#home" class="text-white text-decoration-none">Home</a></li>
            <li><a href="#skills" class="text-white text-decoration-none">Skills</a></li>
            <li><a href="#about" class="text-white text-decoration-none">About</a></li>
            <li><a href="#contact" class="text-white text-decoration-none">Contact</a></li>
        </ul>

    </nav>
</header> -->